.Person{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.field{
    margin-top: 5px;
    margin-bottom: 5px;
}

#avatar{
    margin-top: 20px;
}

#address{
    margin-bottom: 10px;
}